# Environment variables
NODE_ENV=development

# Server configuration
PORT=5000

# MongoDB configuration
MONGODB_URI=mongodb+srv://phamquangvu2308:your_password_here@cluster0.inzif.mongodb.net/
MONGODB_DB_NAME=sportecommerce
